<div class="graph-editor-panel" fxLayout="row" fxLayoutWrap="wrap">
    <div fxFlex.gt-sm="100%" fxFlex="100">
        <mat-card>
            <mat-card-header>
                <div fxFill>
                    <div fxLayoutAlign="space-between center">
                        <div fxFlexOrder="1" fxLayoutAlign="start center">
                            <button mat-menu-item (click)="openAddNodeDialog()" matTooltip="Add Node">
                                <mat-icon>fiber_manual_record</mat-icon>
                            </button>
                            <button mat-menu-item (click)="openAddEdgeDialog()" matTooltip="Add Edge">
                                <mat-icon>call_made</mat-icon>
                            </button>
                        </div>
                        <div fxFlexOrder="2" fxLayoutAlign="end center">
                            <mat-slider matTooltip="Magnify" [thumbLabel]="true" (input)="onZoomLevelChange($event)"
                                        [min]="magnifierConfig.min"
                                        [max]='magnifierConfig.max' [step]="magnifierConfig.step"
                                        [value]="magnifierConfig.value">
                            </mat-slider>
                            <button mat-menu-item (click)="generate_state_graph()" matTooltip="State Graph">
                                <mat-icon>linear_scale</mat-icon>
                            </button>
                            <app-cy-layout [layouts]="availableLayouts" menuName="Layouts"
                                           (layoutChange)="setLayout($event)"></app-cy-layout>
                            <button mat-menu-item matTooltip="Reset" (click)="openResetDialog()">
                                <mat-icon>settings_backup_restore</mat-icon>
                            </button>
                            <button mat-menu-item matTooltip="Import/Export"
                                    [matMenuTriggerFor]="import_export_menu">
                                <mat-icon>import_export</mat-icon>
                            </button>
                        </div>

                    </div>
                </div>
            </mat-card-header>
            <div class="cytoscape-container">
                <app-ngx-cytoscape [elements]="elements" [layout]="layout"></app-ngx-cytoscape>
            </div>


        </mat-card>

    </div>
</div>

<mat-menu #import_export_menu="matMenu">
    <input hidden type="file" accept=".graphml, .sif, .dot" #fileInput (change)="upload($event)">
    <button mat-menu-item (click)="fileInput.click()">Import</button>
    <button mat-menu-item [matMenuTriggerFor]="export_submenu">Export</button>
</mat-menu>


<mat-menu #export_submenu>
    <button mat-menu-item (click)="export('graphml')">*.GraphML</button>
    <button mat-menu-item (click)="export('dot')">*.dot</button>
    <button mat-menu-item (click)="export('sif')">*.sif</button>
</mat-menu>
