mat-card-header {
    color: rgba(0, 0, 0, .54);
    background: rgba(0, 0, 0, .03);
}

mat-card-content {
    height: 100vh;
}

.cytoscape-container {
    height: 100vh;
}

mat-card {
    mat-card-header {
        /deep/ .mat-card-header-text {
            display: none;
        }
        padding: 0;
    }
    mat-icon {
        margin-right: 0;
    }
}
