<div class="graph-editor-panel" fxLayout="row" fxLayoutWrap="wrap">
    <div fxFlex.gt-sm="100%" fxFlex="100">
        <mat-card>
            <mat-card-header>
                <div fxFlex="row" fxLayoutAlign="space-between center">
                    <mat-card-title fxFlexOrder="1">Editor</mat-card-title>
                    <div fxFlexOrder="2">
                        <a mat-button [matMenuTriggerFor]="importFormatMenu">Import</a>
                        <input hidden type="file" accept=".graphml" #fileInput (change)="upload($event)">
                        <button mat-button (click)="export()">Export</button>
                    </div>
                </div>
            </mat-card-header>
            <mat-card-content>
                <app-ngx-cytoscape [elements]="elements" [layout]="layout"
                                   [rightClickTrigger]="contextMenu"></app-ngx-cytoscape>
                <mat-menu #contextMenu id="contextMenu">
                    <button mat-menu-item (click)="openAddNodeDialog()">Add Node</button>
                    <button mat-menu-item (click)="openAddEdgeDialog()">Add Edge</button>
                    <mat-divider></mat-divider>
                    <button mat-menu-item (click)="generate_state_graph()">State Graph</button>
                </mat-menu>
            </mat-card-content>

        </mat-card>

    </div>
</div>

<mat-menu #importFormatMenu>
    <button mat-menu-item (click)="fileInput.click()">*.GraphML</button>
    <button mat-menu-item disabled>*.dot</button>
    <button mat-menu-item disabled>*.sif</button>
</mat-menu>
