.interaction-label {
    padding-right: 1em;
}

mat-card-header {
    color: rgba(0, 0, 0, .54);
    background: rgba(0, 0, 0, .03);
}

.cytoscape-container {
    height: 100vh;
    padding-top: 1em;
}

.interaction-input-form-field {
    width: 50%;
}
